body, html {
	font-family: 'Secular One', sans-serif !important;
    line-height: 1.5 !important;
    overflow-x:hidden;
    height:100%;
}
p,span,b,em,strong,u,h4,h5,h6, ul, li, ul li {
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.4 !important;
}


img {
    max-width: 100%;
}

header#header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	border-bottom: 2px solid gray;
	background: #2d89ef;
	z-index: 9999;
}
header#header div.container {
	padding: 10px 0;
}
/*header#header img.logo {
	max-height: 90px;
	max-width
}*/

header#header nav#navbar {
	margin:0;
	border:0 none;
	min-height:100%;
	padding-top:25px;
}

.desktop{
    display: block;
}
.mobiel{
    display:none;
}

/*
|----------------------------------------------------------------------
| HOMEPAGE
|----------------------------------------------------------------------
*/

/* Login */
.login-wrapper {
    position:fixed;top:50px;right:15px;
}
.login-wrapper .login-holder {
    position: relative;
    display:flex;
    /*display:-webkit-box;*/
    display:-ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.login-wrapper .login-holder .the-lock {
    width:50px;
    height: 50px;
    display: flex;
    /*display:-webkit-box;*/
    display:-ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background:rgba(29,113,184,0.4);
    border-radius: 50%;
    color: white;
    border: 1px solid rgba(255,255,255,0.4);
}
.login-wrapper .login-holder .the-lock a {
    color: white;
}

/* SECTION ANIMATIONS */
/*.popIn {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.popOut {
    opacity: 0;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.outTop {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    transform: translateY(-80px);
}
.fadeIn {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.fadeOut {
    opacity: 0;
    -webkit-transform: opacity: 0.5s;
    -moz-transform: opacity: 0.5s;
    transform: opacity: 0.5s;
}
.slideInTop {
    opacity:1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideOutTop {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideInRight {
    opacity:1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideOutRight {
    opacity: 0;
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideInBottom {
    opacity:1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideOutBottom {
    opacity: 0;
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideInLeft {
    opacity:1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.slideOutLeft {
    opacity: 0;
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
*/
/* SECTION FLOATER */
section#floater {
    position: fixed;
    width:100%;
    top:-5000px;
    z-index:20;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    height: 75%;
    /*-webkit-transition: box-shadow, top 0.2s;*/
    /*-moz-transition: box-shadow, top 0.2s;*/
    /*-ms-transition: box-shadow, top 0.2s;*/
    /*-o-transition: box-shadow, top 0.2s;*/
    /*transition: box-shadow, top 0.2s;*/
    background: rgba(0,0,0,0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
section#floater.opened {
    height: 100%;
    background: rgba(0,0,0,0.8);
    -webkit-transition: background 0.4s ease 0.4s;
    -moz-transition: background 0.4s ease 0.4s;
    -ms-transition: background 0.4s ease 0.4s;
    -o-transition: background 0.4s ease 0.4s;
    transition: background 0.4s ease 0.4s;
}
section#floater.opened div.bonus-intro {
    box-shadow: 0px 6px 12px 0 rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
section#floater div.bonus-intro {
    background-color: #1d71b8;
    padding: 3.5em 0;
}
section#floater.opened div.bonus-intro-toggle {
    background: #1d71b8;
    border-color: #1d71b8;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
section#floater div.bonus-intro-toggle {
    width: 60px;
    display: block;
    margin: 0 auto;
    background:#e94e1b;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #d64516;
    color: white;
    text-align:center;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s ease 0.6s;
    -moz-transition: all 0.2s ease 0.6s;
    -ms-transition: all 0.2s ease 0.6s;
    -o-transition: all 0.2s ease 0.6s;
    transition: all 0.2s ease 0.6s;
}
section#floater div.bonus-intro div.container div.timer-stuff div.floater-buttons button.floater-button {
    background-color: transparent;
    border: 4px solid white;
    text-transform: uppercase;
    padding: 12px 46px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
section#floater div.bonus-intro div.container div.timer-stuff div.floater-buttons button.floater-button:hover {
    background-color: #3aaa35;
    border: 4px solid #3aaa35;
    color: white;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
section#floater div.bonus-intro div.container div.timer-stuff div.floater-buttons button.floater-button.no-ty {
    margin: 0 10px;
    display: inline-block;
}
section#floater div.bonus-intro div.container div.timer-stuff div.floater-buttons button.floater-button.no-ty:hover {
    border: 4px solid #e94e1b;
    background-color: #e94e1b;
    color:white;
}
section#floater ul,
section#floater ul li {
    list-style-type: none;
    padding:0;
    margin:0;
}
section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer {
    display: block;
    margin: 25px auto;
}
section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer > div {
    float: left;
    width: 25%;
    padding: 0 5px;
    text-align:center;
}
section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer div > p.letter {
    color: white;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    text-align: center;
}
section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer div > p.cijfer {
    font-size: 26px !important;
    text-align:center;
    width:100%;
    color: white !important;
    font-family: 'Secular One', sans-serif !important;
    font-weight: bold;
    background-color:#0e71b8;
    padding: 10px;
    border-top:1px solid #328ac6;
    border-left:1px solid #0c64a0;
    border-right:1px solid #0c64a0;
    border-bottom:2px solid #0c64a0;
}

/* SECTION INTRO */
section#intro {
    background-color: #f6f6f6;
    padding:5em 0;
}
section#intro div.intro-content {
    display: flex;
    /*display:-webkit-box;*/
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
section#intro div.intro-content img.logo {
    max-width: 550px;
    margin:1.5em auto;
    width:100%;
    display:block;
}
section#intro div.intro-content h1 {
    color: #1d71b8;
    margin: 1em 0;
    text-align: center;
}

/* SECTION FOCUS & THANKYOU */
section#focus,
section#thankyou {
    background-color: #1d71b8;
    padding: 3.5em 0;
}
section#focus div.focus-content {
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
section#focus div.focus-content h2,
section#focus div.focus-content h4 {
    width: 80%;
}
section#thankyou div.thankyou-content {
    background: white;
    padding: 25px;
}
section#thankyou div.thankyou-content div div.thankyou-tekst {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
/*section#focus div.focus-content h4 {
    line-height: 1.3;
}*/

/* SECTION CALL TO ACTION */
section#call-to-action {
    padding: 50px 0;
}
section#call-to-action.green {
    background-color: #3aaa35;
}
section#call-to-action.green .call-to-action {
    color: #3aaa35;
}
section#call-to-action.orange {
    background-color: #e94e1b;
}
section#call-to-action.orange .call-to-action {
    color: #e94e1b;
}
section#call-to-action.blue {
    background-color: #1d71b8;
}
section#call-to-action.blue .call-to-action {
    color: #1d71b8;
}
section#call-to-action div.call-to-action-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
section#call-to-action div.call-to-action-content div h2 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
@media (max-width: 767px) {
    .call-to-action-content {
        flex-direction: column;
        text-align: center;
    }
}

/* SECTION VOORWOORD */
section#voorwoord {
    padding: 75px 0;
    background-image: url('/images/site/bg/socialpreneurs-voorwoord.jpg');
    background-size: cover;
    background-position: center center;
}
section#voorwoord div.voorwoord-box {
    background-color: rgba(29,113,184,0.4);
    padding: 35px;
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#voorwoord div.voorwoord-box h2 {
    margin-bottom: 25px;
    margin-top: 0;
}
section#voorwoord div.voorwoord-box p {
    margin: 0;
    font-size: 15px;
}

/* SECTION VOOR WIE */
section#voor-wie {
    padding: 75px 0 0;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#voor-wie div.voor-wie-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
section#voor-wie:after {
    content: '';
    width: 10%;
    margin:0 auto;
    display:block;
    height: 2px;
    background-color: #1d71b8;
    margin-top: 50px;
}

/* SECTION VERWACHTING */
section#verwachting {
    padding: 50px 0;
}
section#verwachting div.verwachting-content {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#verwachting div.verwachting-content h2 {
    text-align: center;
}
section#verwachting div.verwachting-content ul li {
    margin: 25px 0;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
}
section#verwachting div.verwachting-content ul li div.icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}
section#verwachting div.verwachting-content ul li div.icon {
    width: 75px;
    height: 75px;
    background:green;
    border-radius: 50%;
    font-size: 3em;
    color: white;

    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
section#verwachting div.verwachting-content ul li:nth-child(even) div.icon {
    background:#1d71b8;
}
section#verwachting div.verwachting-content ul li div h4 {
    text-transform: capitalize;
    font-family: 'Secular One', sans-serif !important;
}

/* SECTION MODULES */
section#modules {
    padding: 75px 0;
    background-color: #1d71b8;
    color: white;
}
section#modules h2 {
    text-align:center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#modules img {
    display: block;
    margin: 15px auto;
    max-width:80%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#modules div.col-md-6 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-left: 5px solid #ff6f21;
    color: white;
    line-height: 1.5;
    /*padding: 10px 0 10px 10px;*/
    margin: 15px 0;
}

/* SECTION BONUS */
section#bonus {
    padding: 75px 0;
}
section#bonus .besloten-content {
    text-align: center;
}
section#bonus .besloten-content h2 {
    margin-bottom: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#bonus .besloten-content h4 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#bonus .besloten-content:after {
    content: '';
    width: 10%;
    margin:0 auto;
    display:block;
    height: 2px;
    background-color: #1d71b8;
    margin-top: 75px;
}
section#bonus .bonus-content {
    padding: 75px 0;
}
section#bonus .bonus-content h4 {
    font-family: 'Secular One', sans-serif !important;
    margin: 0 0 25px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#bonus .bonus-info {
    padding: 25px 25px 10px;
}
section#bonus .bonus-info ul.blue-check,
section#bonus .bonus-box ul.white-check {
    padding:0;
    list-style-type:none;
}
section#bonus .bonus-info ul.blue-check li,
section#bonus .bonus-box ul.white-check li {
    margin: 15px 15px 15px 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    align-items: flex-start;
    -webkit-box-align: start;
    -ms-box-align: start;

    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;

    padding-right: 15px;
    max-width: 90%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#bonus .bonus-info ul.blue-check li span.holder {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    align-items: center;
    -webkit-box-align: center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    color: white;
    background: #1d71b8;
    width:20px;
    min-width:20px;
    max-width:20px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    margin-right: 15px;
    border-radius: 50%;
}
section#bonus .bonus-box ul.white-check li span.holder {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    align-items: center;
    -webkit-box-align: center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    color: #1d71b8;
    background: white;
    width:20px;
    min-width:20px;
    max-width:20px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    margin-right: 15px;
    border-radius: 50%;
}
section#floater .bonus-intro ul li span.holder {
    display: inline-block;
}
section#floater .bonus-intro ul li span.holder i {
    color: white;
}
section#bonus .bonus-box {
    background: #1d71b8;
    padding: 25px 25px 10px;
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#bonus .bonus-box h4 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#bonus .bonus-box p {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* SECTION RECENSIES */
section#recensies {
    background-color: #f6f6f6;
    padding:75px 0;
}
section#recensies .recensies-content {

}
section#recensies .recensies-content h2 {
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#recensies .recensies-content div.review {
    margin: 15px 0;
}
section#recensies .recensies-content div.review div.review-photo img.review-photo {
    background: white;
    padding: 5px;
    border-radius: 150px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    max-width: 100%;
}
section#recensies .recensies-content div.review div.review-body {
    background: white;
    padding: 15px 15px 5px;
    position: relative;
}
section#recensies .recensies-content div.review div.review-body:before {
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 0 solid transparent;
    content: "";
    height: 10px;
    left: -20px;
    position: absolute;
    top: 30px;
    width: 20px;
}
section#recensies .recensies-content div.review div.review-body p:first-child {
    text-indent: 30px;
}
section#recensies .recensies-content div.review div.review-body p:first-child::before {
    color: #ff6f21;
    content: "\201C";
    display: block;
    font-size: 66px;
    font-style: italic;
    position: absolute;
    top: -4px;
    left: -18px;
    font-family: "Arial";
}
section#recensies .recensies-content div.review div.review-body p:last-child::after {
    color: #ff6f21;
    content: "\201D";
    display: block;
    font-size: 66px;
    font-style: italic;
    position: absolute;
    bottom: -46px;
    right: 25px;
    font-family: "Arial";
}

/* SECTION VIDEO-RECENSIES */
section#video-recensies {
    padding: 75px 0;
}
section#video-recensies .video-recensies-content {
    text-align: center;
}
section#video-recensies .video-recensies-content h2 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#video-recensies .video-recensies-content .review-video-holder {
    width: 100%;
    height: 100%;
}
section#video-recensies .video-recensies-content .review-video-holder iframe {
    width:100%;
    border: 2px solid #231f20;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}

/* SECTION FAQ */
section#FAQ {
    padding: 75px 0;
}
section#FAQ .faq-content {
}
section#FAQ .faq-content h2 {
    text-align: center;
    margin-bottom: 75px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#FAQ .faq-content div.faq-box {
    margin: 10px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#FAQ .faq-content div.faq-box .question-content {
    padding: 20px;
    background: #1d71b8;

    display: flex;
    display: -webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
section#FAQ .faq-content div.faq-box .question-content h4.question-title {
    margin:0;
    width: 100%;
}
section#FAQ .faq-content div.faq-box .question-content h4.question-title a {
    color: white;
    text-decoration: none;
    margin: 0;
    width: 100%;

    display: flex;
    display: -webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
section#FAQ .faq-content div.faq-box .question-content h4.question-title a span.holder {
    background: white;
    color: #1d71b8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;

    display: block;
    
}
section#FAQ .faq-content div.faq-box .question-content h4.question-title a span.holder div.minus-1,
section#FAQ .faq-content div.faq-box .question-content h4.question-title a span.holder div.minus-2 {
    position: absolute;
    background: #1d71b8;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: 400ms all ease-out;
    -webkit-transition: 400ms all ease-out;
    -moz-transition: 400ms all ease-out;
    -ms-transition: 400ms all ease-out;
    -o-transition: 400ms all ease-out;
}
section#FAQ .faq-content div.faq-box .question-content h4.question-title a span.holder div.minus-1 {
    height: 15px;
    width: 3px;
    top:8px;
    left:13px;
}
section#FAQ .faq-content div.faq-box .question-content h4.question-title a span.holder div.minus-2 {
    width: 15px;
    height: 3px;
    top:14px;
    left:7px;
}
section#FAQ .faq-content div.faq-box.open .question-content h4.question-title a span.holder div.minus-1 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
/*section#FAQ .faq-content div.faq-box .question-content h4.question-title a:after {
    display: flex;
    content: "+";
    font-size: 1.4em;
    color: #1d71b8;
    background: white;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height:1;
}*/
section#FAQ .faq-content div.faq-box .question-content h4.question-title a:hover {
}
/*section#FAQ .faq-content div.faq-box.open .question-content h4.question-title a:after {
    content: "-";
    font-size: 1.8em;
}*/
section#FAQ .faq-content div.faq-box .answer-collapse {
    display: none;
}
section#FAQ .faq-content div.faq-box .answer-collapse .answer-content {
    padding: 20px;
    color: white;
    background: rgba(14,113,184,0.8);
}
section#FAQ .faq-content div.faq-box .answer-collapse .answer-content p {
    margin: 0;
}
section#FAQ .fb-chat-content {
    padding: 75px 0 0;
}

/* SECTION INVESTERING */
section#investering {
    padding: 75px 0;
}
section#investering .investering-content {
    padding: 0 0 50px;
}
section#investering .investering-content .investering-text h2 {
    margin-bottom: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#investering .investering-content .investering-text p {
    line-height: 1.8 !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
section#investering .investering-content .prijs-image .prijs-image-holder {
    max-width: 350px;
    max-height: 350px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    /*visibility: hidden;*/
}

section#aftik-form {
    display: none;
    padding:75px 0;
}
section#aftik-form div.plan-selection div.plan.jaar-plan.disabled {
    opacity:0.8;
}
section#aftik-form div.plan-selection div.select-plan h2,
section#aftik-form div.plan-selection div.select-plan h4 {
    text-align:center;
}
section#aftik-form div.plan-selection div.select-plan h4 {
    font-style: italic;
    color: #787878;
    margin-top: 50px;
}
section#aftik-form div.plan-selection div.select-plan h4:after {
    content: '';
    width: 10%;
    margin: 75px auto;
    display: block;
    height: 2px;
    background-color: #1d71b8;
}

footer#footer {
    padding: 50px 0 25px;
    background: #2c2c2c;
}
footer#footer .footer-logo img {
    max-width: 80%;
    display: block;
    margin: 25px auto;
}
footer#footer .footer-content {
    color: white;
    text-align:left;
    opacity: 0.9;
}
footer#footer .footer-content p {
    font-size: 13px;
}
footer#footer hr.footer {
    content: '';
    width: 40%;
    margin:0 auto;
    display:block;
    height: 2px;
    border:0;
    background-color: #231f20;
    margin-top: 50px;
    opacity: 0.5;
}
footer#footer hr.footer:after {
    content: url(/images/site/digitus/Digitus_Marketing_Logo.png);
    width: 100%;
    height: 25px;
    position: relative;
    top: -8px;

    display: flex;
    display: -webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
footer#footer .footer-digitus {
    padding: 25px 15px 0;
    text-align: center;
    opacity: 0.5;
}
footer#footer .footer-digitus span p,
footer#footer .footer-digitus span {
    color: white;
}
footer#footer .footer-digitus span p a {
    color: #e9e9e9;
    text-decoration: underline;
}

footer#footer .thankyou-footer-content {
    display: flex;
    display: -webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;  
}
footer#footer .thankyou-footer-content img {
    max-width: 350px;
    width:100%;
    opacity: 0.3;
}

div#fb-chat {
    position: fixed;
    bottom: -1px;
    right: 50px;
    width: 300px;
    transition: 0.4s ease;
}
div#fb-chat.loading {
    bottom: -100px;
    transition: 0.4s ease;
}
div#fb-chat .chat-label {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #0090d9;
    padding: 15px;
}
div#fb-chat .chat-label h4 {
    margin: 0;
}
div#fb-chat .chat-label h4 div {
    margin: 0;
    color: white;

    display: flex;
    /*display: -webkit-box;*/
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;

}
div#fb-chat .chat-label:hover {
    cursor: pointer;
}
div#fb-chat .chat-label h4 span i.fa {
    margin-right: 10px;
}
div#fb-chat .chat-box {
    transition: height 0.4s;
    max-width: 300px;
    width: 100%;
    background: #0090d9;
    padding:2px;
    height:0px;
}
div#fb-chat.open .chat-box {
    height: 300px;
    transition: height 0.3s ease 0.2s;
}


/*
|----------------------------------------------------------------------
| BUTTONS
|----------------------------------------------------------------------
*/
.btn-login {
    color: #fff;
    background-color: #ff6f21;
    border-color: #b74d13;
}
.btn-login:hover {
	color: #fff;
    background-color: #fc762d;
}
.btn-logout {
    color: #fff;
    background-color: #f44314;
    border-color: #ca350d;
}
.btn-logout:hover {
	color: #fff;
	background-color: #f3552b;
}
.btn-login {
	padding: 9px 30px;
	font-size: 12pt;
}
.call-to-action {
    background-color: white;
    border: 4px solid transparent !important;
    text-transform: uppercase;
    padding: 12px 46px !important;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.call-to-action:hover {
    background: transparent;
    border-color:white !important;
    color: white !important;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
a.ty-page {
    background: transparent;
    text-transform: uppercase;
    padding: 12px 46px !important;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    margin:0 10px;
}
a.ty-page i {
    margin:0 10px 0 -10px;
}
a.ty-page:hover {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
a.ty-page.blue {
    border: 4px solid #1d71b8;
    color: #1d71b8;
}
a.ty-page.blue:hover {
    background: #1d71b8;
    color: white;
}
a.ty-page.green {
    border: 4px solid #3aaa35;
    color: #3aaa35;
}
a.ty-page.green:hover {
    background: #3aaa35;
    color: white;
}
.select-plan-button {
    padding: 12px 46px !important;
    text-transform: uppercase;
    background: #f9f9f9;
    border: 4px solid #3aaa35;
    color: #3aaa35;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.select-plan-button.disabled:hover,
.select-plan-button.disabled:focus,
.select-plan-button.disabled:active {
    background: inherit;
    color: #3aaa35;
}
.select-plan-button:hover,
.select-plan-button:focus,
.select-plan-button:active {
    background: #3aaa35;
    color: white;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/*
|----------------------------------------------------------------------
| Plans
|----------------------------------------------------------------------
*/
.plan {
    display: flex;
    /*display:-webkit-box;*/
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    background: #f9f9f9;
    border:2px solid #f5f5f5;
    padding: 40px 40px 50px;
    border-radius: 3px;
    text-align: center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.3s ease 0.2s;
    -moz-transition: transform 0.3s ease 0.2s;
    -ms-transition: transform 0.3s ease 0.2s;
    -o-transition: transform 0.3s ease 0.2s;
    transition: transform 0.3s ease 0.2s;
}
.plan.maand-plan {
    margin-top: -10px;
}
.plan.selected-plan {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}
.plan-type>h3 {
    color: #00b1b3;
    font-size: 24px;
    font-weight: 300;
}
.plan-type:after {
    content: '';
    border-radius: 20px;
    display: block;
    height: 5px;
    width: 35px;
    margin: 12px auto 10px;
    background: #c7c7c7;
}
.plan-price {
    -webkit-box-flex: 1;
    flex: 1;
    /*display: -webkit-box;*/
    display: flex;
    margin: 10px 0 30px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 65px;
    font-weight: lighter;
    color: #4D545D;
    line-height: 1;
}
.plan-price .dollar {
    font-size: 28px;
    color: #c7c7c7;
    align-self: flex-start;
    -ms-flex-item-align: start;
    padding-right: 3px;
    margin-left: -.7em;
}
.plan-price .btw {
    font-size: 13px;
    color: #c7c7c7;
    align-self: flex-end;
    -ms-flex-item-align: end;
    margin-right:-50px;
    font-style:italic;
}
.plan-description {
    font-size: 100%;
    padding-bottom: 1em;
}
.plan-button {
    margin-top: 22px;
    margin-bottom: -73px;
}

.plan.selected {
    padding: 20px 20px 25px;
    flex-direction: row;
    justify-content: space-around;
}
.plan.selected .plan-selected.plan-type h3 {
    margin:0;
}
.plan.selected .plan-selected.plan-price {
    flex: 0;
    margin: 0;
}
.plan.selected .plan-selected.plan-price span.plan-price {
    margin:0;
}
.plan.selected .plan-selected.plan-price p.plan-per {
    font-size: 16px;
    color: #c7c7c7;
    align-self: flex-end;
}

.plan.selected .plan-selected.plan-price .plan-per .plan-type:after {
    display: none;
}

/*
|----------------------------------------------------------------------
| Facebook login HP
|----------------------------------------------------------------------
*/
#facebook-login-modal {
    background-image: url('../images/site/bg/overlay.png');
    background-repeat: repeat;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    z-index:99999;
    display: none;
}
#facebook-login-modal .facebook-modal {
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    width: 100%;
    height: 100%;
}
#facebook-login-modal .facebook-modal .modal {
    padding: 25px;
}
.tiles.white {
    background-color: #ffffff;
    color: #8b91a0;
}
.tiles.grey {
    background-color: #e9ecee;
}
.tiles {
    background-color: #bcbcbc;
    color: #ffffff;
    position: relative;
}
.p-l-40 {padding-left: 40px;}
.p-l-30 {padding-left: 30px;}
.p-l-20 {padding-left: 20px;}
.p-t-40 {padding-top: 40px;}
.p-t-30 {padding-top: 30px;}
.p-t-20 {padding-top: 20px;}
.p-b-40 {padding-bottom: 40px;}
.p-b-30 {padding-bottom: 30px;}
.p-b-20 {padding-bottom: 20px;}
img.app-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: 200px;
}
.no-padding {padding: 0px !important;}

/*
|----------------------------------------------------------------------
| Payment Form
|----------------------------------------------------------------------
*/
.paymentmethod {
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    float: left;
    margin: 10px;
    max-width: 110px;
    position: relative;
    transform: scale(1);
    transition: all 0.2s ease 0.1s;
    width: 110px;
}
.paymentmethod > img {
    display: block;
    margin: 10px auto;
    max-height: 65px;
    max-width: 65px;
}
.paymentmethod > input[type="radio"] {
    display: none;
}
.paymentmethod.selected {
    border-color: #0aa699;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
    transition: all 0.4s ease 0s;
}


/*
|----------------------------------------------------------------------
| ANIMATIONS
|----------------------------------------------------------------------
*/
@-webkit-keyframes rollIn{
    from{
        opacity:0 !important;
        -webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
        transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
    }
    to{
        opacity:1;
        -webkit-transform:none;
        transform:none;
    }
}
@keyframes rollIn{
    from{
        opacity:0 !important;
        -webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
        transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
    }
    to{
        opacity:1;
        -webkit-transform:none;
        transform:none;
    }
}
.rollIn{
    -webkit-animation-name:rollIn;
    animation-name:rollIn;
    animation-duration: 1.5s;
    /*animation-delay: 0.9s;*/
}




/*
|----------------------------------------------------------------------
| Media Queries
|----------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------
| MOBILE PORTRAIT
|-----------------------------------------------------------------------
*/

@media only screen and (min-width:220px) and (max-width:680px) and (orientation:portrait) {

    p, b, strong, i, em, a {
        word-wrap: break-word;
    }

    /*
    |----------------------------------------------------------------------
    | Main stuff
    |----------------------------------------------------------------------
    */
    .desktop{
        display:none !important;
    }
    .mobiel{
        display: block;
    }

    /* Login */
    .login-wrapper {
        top: 5px;
        right: -50px;
    }
    .login-wrapper .login-holder .the-lock {
        width: 25px ;
        height: 25px ;
        padding: 15px;
        background: #0090d9;
        border: 0 none;
    }
    .popIn,
    .popOut,
    .outTop,
    .fadeIn,
    .fadeOut,
    .slideInTop,
    .slideOutTop,
    .slideInRight,
    .slideOutRight,
    .slideInBottom,
    .slideOutBottom,
    .slideInLeft,
    .slideOutLeft,
    .rollIn{
        /*CSS transitions*/
        /*-o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;*/
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        /*CSS opacity*/
        opacity:1 !important;
    }

    /* THANK YOU */
    section#thankyou div.thankyou-content div div {
        display: flex;
        /*display:-webkit-box;*/
        display:-ms-flexbox;

        align-items: center;
        -webkit-box-align:center;
        -ms-box-align: center;

        flex-direction: column;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;

        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;

        text-align:center;
    }

    /* FB CHAT */
    div#fb-chat {
        position: fixed;
        bottom: 5px;
        right: 5px;
        transition: 0.4s ease;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
    }
    div#fb-chat.loading {
        bottom: -100px;
        transition: 0.4s ease;
    }
    div#fb-chat .chat-label {
        border-radius: 50%;
        padding: 15px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#fb-chat .chat-label h4 div {
        margin: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
    }
    div#fb-chat .chat-label:hover {
        cursor: pointer;
    }
    div#fb-chat .chat-label h4 span i.fa {
        margin: 0;
    }
    div#fb-chat .chat-box {
        transition: 0.4s ease 0.2s;
        max-width: 300px;
        width: 100%;
        background: #0090d9;
        padding:2px;
        position: relative;
        bottom: -500px;
    }
    div#fb-chat.open .chat-label {
        margin-bottom: 25px;
    }
    div#fb-chat .chat-label h4 div.times {
        display: none;
    }
    div#fb-chat.open .chat-label h4 div.comment {
        display: none;
    }
    div#fb-chat.open .chat-label h4 div.times {
        display: block;
    }
    div#fb-chat.open .chat-box {      
        transition: 0.3s ease 0.2s;
        bottom: 15px;
    }

    /*
    |----------------------------------------------------------------------
    | plans
    |----------------------------------------------------------------------
    */
    .plan {
        margin: 35px auto;
    }

    /*
    |----------------------------------------------------------------------
    | floater
    |----------------------------------------------------------------------
    */

    section#floater div.bonus-intro {
        padding: 0.7em 0 1em 0;
    }
    section#floater div.bonus-intro div div h2 {
        font-size: 20px;
        margin:0;
        margin-top: 15px;
    }
    section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer {
        margin: 10px auto 30px;
    }
    section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer div > p.letter {
        font-size: 10px !important;
        text-align:left;
    }
    section#floater div.bonus-intro div.container div.timer-stuff div.row div .timer div > p.cijfer {
        font-size: 18px !important;
        text-align:center;
        width:100%;
        color: white !important;
        font-weight: bold;
        background-color:#0e71b8;
        padding: 5px;
        border-top:1px solid #328ac6;
        border-left:1px solid #0c64a0;
        border-right:1px solid #0c64a0;
        border-bottom:2px solid #0c64a0;
    }
    section#floater ul, section#floater ul li {
        font-size: 12px;
    }

    /*
    |----------------------------------------------------------------------
    | Section Verwachting
    |----------------------------------------------------------------------
    */
    section#verwachting .verwachting-content .verwachting-box {
        padding:0;
    }
    section#verwachting .verwachting-content .verwachting-box ul,
    section#verwachting .verwachting-content .verwachting-box ul li {
        margin: 0;
        padding: 0;
    }
    section#verwachting .verwachting-content .verwachting-box ul li {
        margin: 10px 0;
    }
    section#verwachting .verwachting-content .verwachting-box .text-holder {
        text-align:center;
    }

    /*
    |----------------------------------------------------------------------
    | SECTION FAQ
    |----------------------------------------------------------------------
    */
    section#FAQ .faq-content {
        padding:0;
    }
    section#FAQ .faq-content div.faq-box .question-content {
        padding: 15px;
    }
    section#FAQ .faq-content .faq-box h4.question-title {
        font-size: 14px;
    }
    section#FAQ .faq-content .faq-box h4.question-title a span.holder {
        width: 21px !important;
        height: 21px !important;
    }
    section#FAQ .faq-content .faq-box h4.question-title a span.holder .minus-1 {
        height: 13px !important;
        width: 3px !important;
        top: 4px !important;
        left: 9px !important;
    }
    section#FAQ .faq-content .faq-box h4.question-title a span.holder .minus-2 {
        width: 13px !important;
        height: 3px !important;
        top: 9px !important;
        left: 4px !important;
    }


}

/*
|-----------------------------------------------------------------------
| MOBILE LANDSCAPE
|-----------------------------------------------------------------------
*/

@media screen and (min-width:321px) and (max-width:768px) and (orientation:landscape) {

    p, b, strong, i, em, a {
        word-wrap: break-word;
    }

    /*
    |----------------------------------------------------------------------
    | Main stuff
    |----------------------------------------------------------------------
    */
    .desktop{
        display:none !important;
    }
    .mobiel{
        display: block;
    }

    
    .popIn,
    .popOut,
    .outTop,
    .fadeIn,
    .fadeOut,
    .slideInTop,
    .slideOutTop,
    .slideInRight,
    .slideOutRight,
    .slideInBottom,
    .slideOutBottom,
    .slideInLeft,
    .slideOutLeft,
    .rollIn{
        /*CSS transitions*/
        /*-o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;*/
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        /*CSS opacity*/
        opacity:1 !important;
    }

    /* Login */
    .login-wrapper {
        top: 5px;
        right: -50px;
    }
    .login-wrapper .login-holder .the-lock {
        width: 25px ;
        height: 25px ;
        padding: 15px;
        background: #0090d9;
        border: 0 none;
    }
    /* FB CHAT */
    div#fb-chat {
        position: fixed;
        bottom: 5px;
        right: 5px;
        transition: 0.4s ease;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
    }
    div#fb-chat.loading {
        bottom: -100px;
        transition: 0.4s ease;
    }
    div#fb-chat .chat-label {
        border-radius: 50%;
        padding: 15px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#fb-chat .chat-label h4 div {
        margin: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
    }
    div#fb-chat .chat-label:hover {
        cursor: pointer;
    }
    div#fb-chat .chat-label h4 span i.fa {
        margin: 0;
    }
    div#fb-chat .chat-box {
        transition: 0.4s ease 0.2s;
        max-width: 300px;
        width: 100%;
        background: #0090d9;
        padding:2px;
        position: relative;
        bottom: -500px;
    }
    div#fb-chat.open .chat-label {
        margin-bottom: 25px;
    }
    div#fb-chat .chat-label h4 div.times {
        display: none;
    }
    div#fb-chat.open .chat-label h4 div.comment {
        display: none;
    }
    div#fb-chat.open .chat-label h4 div.times {
        display: block;
    }
    div#fb-chat.open .chat-box {      
        transition: 0.3s ease 0.2s;
        bottom: 15px;
    }

    /*
    |----------------------------------------------------------------------
    | plans
    |----------------------------------------------------------------------
    */
    .plan {
        margin: 35px auto;
    }
}

/*
|-----------------------------------------------------------------------
| TABLET PORTRAIT
|-----------------------------------------------------------------------
*/

@media screen and (min-width:768px) and (max-width: 1024px) and (orientation:portrait) {

}

/*
|-----------------------------------------------------------------------
| TABLET LANDSCAPE
|-----------------------------------------------------------------------
*/

@media only screen and (min-width:768px ) and (max-width: 1280px) and (orientation:landscape) {

}

@media only screen and (min-width: 680px) and (max-width: 979px) {
    p, b, strong, i, em, a {
        word-wrap: break-word;
    }

    /*
    |----------------------------------------------------------------------
    | Main stuff
    |----------------------------------------------------------------------
    */
    .desktop{
        display:none !important;
    }
    .mobiel{
        display: block;
    }

    /* Login */
    .login-wrapper {
        display:none;
    }
    .popIn,
    .popOut,
    .outTop,
    .fadeIn,
    .fadeOut,
    .slideInTop,
    .slideOutTop,
    .slideInRight,
    .slideOutRight,
    .slideInBottom,
    .slideOutBottom,
    .slideInLeft,
    .slideOutLeft,
    .rollIn{
        /*CSS transitions*/
        /*-o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;*/
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        /*CSS opacity*/
        opacity:1 !important;
    }

    /* FB CHAT */
    div#fb-chat {
        position: fixed;
        bottom: 5px;
        right: 5px;
        transition: 0.4s ease;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
    }
    div#fb-chat.loading {
        bottom: -100px;
        transition: 0.4s ease;
    }
    div#fb-chat .chat-label {
        border-radius: 50%;
        padding: 15px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#fb-chat .chat-label h4 div {
        margin: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
    }
    div#fb-chat .chat-label:hover {
        cursor: pointer;
    }
    div#fb-chat .chat-label h4 span i.fa {
        margin: 0;
    }
    div#fb-chat .chat-box {
        transition: 0.4s ease 0.2s;
        max-width: 300px;
        width: 100%;
        background: #0090d9;
        padding:2px;
        position: relative;
        bottom: -500px;
    }
    div#fb-chat.open .chat-label {
        margin-bottom: 25px;
    }
    div#fb-chat .chat-label h4 div.times {
        display: none;
    }
    div#fb-chat.open .chat-label h4 div.comment {
        display: none;
    }
    div#fb-chat.open .chat-label h4 div.times {
        display: block;
    }
    div#fb-chat.open .chat-box {      
        transition: 0.3s ease 0.2s;
        bottom: 15px;
    }
}