.module-body {
	background:white;
	padding: 15px 0;
}
h3.module-title {
	margin:0;
}
div.module-holder {
	margin: 0 0 25px;
}

ul.module-episodes {
	padding:0;
}
.module-episode-image{
	height: 100%;
}
.module-episode-image img {
	width: 100%;
	display: block;
}
.module-top-episode-content {
	position: absolute;
	top:0;
	right:0;
	height:100%;
	padding:15px 15px 20px;
	width:100%;
	color: #b3b3b3;
	display: -webkit-box;
	display: flex;
	opacity: 1;
	-webkit-box-align: start;
	align-items: flex-start;
	z-index:11;
	-webkit-box-pack: justify;
	justify-content: flex-end;
}
.module-episode-content {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 25px 25px 20px;
    width: 100%;
    color: #fff;
    display: -webkit-box;
    display: flex;
    opacity: 1;
    /*flex-direction: column;*/
    -webkit-box-align: end;
    align-items: flex-end;
    z-index: 9;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgba(0,0,0,.7);
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: uppercase;
}
li.module-episode {
	list-style-type: none;
	width: 100%;
	display: none;
	margin:25px 0;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
}
li.module-episode.completed {
	border: 2px solid #07bd5c;
}
li.module-episode.completed .module-episode-content {
	background: rgba(0,0,0,0.4);
}
li.module-episode a {
	position: relative;
	display: block;
	z-index:1;
}
li.module-episode:hover a .module-episode-content {
	background: rgba(0,0,0,.15);
	-webkit-transition: transform .4s;
    transition: transform .4s;
}
li.module-episode a .module-episode-content span {
	position: relative;
	top:0;
	right:0;
	bottom:0;
	left:0;
	transition: all 0.2s ease;
}
li.module-episode.completed:hover a .module-episode-content span.module-status,
li.module-episode.completed:hover a .module-episode-content span.episode-favorite,
li.module-episode.completed:hover a .module-episode-content span.episode-later-bekijken {
	opacity: 1;
	padding:3px 7px;
	background: rgba(7,189,92,0.75);
	color:white !important;
	left:0px;
	bottom:-7px;
	transition: all 0.4s ease;
}
li.module-episode.completed:hover a .module-episode-content span.episode-favorite {
	background: rgba(243,89,88,0.75);
}
li.module-episode.completed:hover a .module-episode-content span.episode-later-bekijken {
	background: rgba(0,144,217,0.75);
}
li.module-episode:hover a .module-episode-content span.module-status,
li.module-episode:hover a .module-episode-content span.episode-favorite,
li.module-episode:hover a .module-episode-content span.episode-later-bekijken {
	opacity: 0;
	-webkit-transition: opacity .3s;
    transition: opacity .3s;
}
p.count-episodes {
	margin: 0;
}

p.count-episodes,
h3.module-episode-title,
span.module-status {
	color:#cfcfcf;
}
div.module-episodes-counter {
	display:block;
	text-align:center;
	align-items: center;
	justify-content: center;
}
div.module-episodes-counter h3 {color:white;}

img.module-image {
	max-width:100%;
	display:block;
	position:relative;
}
div.module-content-wrapper{
	position:relative;
	display:block;
	max-width:100%;
}
div.module-overlay {
	display: flex;
    display:-webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;


	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0);
	-webkit-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	-ms-transition: background-color 0.1s;
	-o-transition: background-color 0.1s;
	transition: background-color 0.1s;
}
li.module-episode a div.module-overlay i.fa {
    color: transparent;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
li.module-episode:hover a div.module-overlay i.fa {
	color: white;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
	-webkit-transition: transform 0.4s;
	-moz-transition: transform 0.4s;
	-ms-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
}
div.module-de-overlay div.module-episodes {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 25px;
    background: rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
div.module-de-overlay div.module-title {
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;
    bottom: 15px;
    right: 10%;
    text-transform: uppercase;
}
div.module-de-overlay div.module-title h4,
div.module-de-overlay div.module-episodes * {
	color: #ededed;
}
div.module-de-overlay div.module-title h4 {
	font-weight: 600;
}
div.module-content-wrapper:hover div.module-overlay {
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
div.module-content-wrapper div.module-overlay i.fa {
	color: transparent;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
div.module-content-wrapper:hover div.module-overlay i.fa {
	color: white;
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: all 0.4s ease 0.1s;
	-moz-transition: all 0.4s ease 0.1s;
	-ms-transition: all 0.4s ease 0.1s;
	-o-transition: all 0.4s ease 0.1s;
	transition: all 0.4s ease 0.1s;
}
div#page-header {
	padding: 100px 0 50px;
    background-image: url(/images/site/content-wrapper-cover.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}
div#page-header h1,
div#page-header p,
div#page-header span,
div#page-header span a {
	color: #ededed;
}
div#page-header h1 {
	text-transform: uppercase;
	font-weight: 500;
}
div#page-header p {
	font-size: 15px;
}
div#page-header hr {
	border-bottom: 0 none;
	border-top: 1px solid rgba(0,0,0,0.1);
}
div#page-header p.social-share {
	text-transform: uppercase;
	font-weight: 500;
}
div#page-header.header-cursus {
    background-color: #0aa699;
}
div#page-header.later-bekijken {
	background-color: #0090d9;
}
div#page-header.header-module{
	background: -webkit-linear-gradient(135deg,#00b1b3,#1d5086);
    background: linear-gradient(-45deg,#00b1b3,#1d5086);
}
div#page-header.social-intro {
	background-color: #1d71b8;
}
div#page-header.favorieten {
	background-color: #f35958;
}
div#page-header.transacties {
    background-color: #e3a21a;
}
div#page-header.affiliate {
	background-color: #735f87;
}
/*div#page-header.later-bekijken .later-bekijken-image i.fa {
	color:white;
}*/
div#page-header.social-intro div div.social-intro-content {
    display: flex;
    /*display:-webkit-box;*/
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
div#page-header.social-intro div div.social-intro-content img.logo {
	max-height:250px;
}
div#page-header.social-intro div div.social-intro-content h2 {
	color: white;
}

.de-content div,
.de-content hr {opacity:0;}
.de-content,
.de-cursus-content {
	display: flex;
    /*display:-webkit-box;*/
    display:-ms-flexbox;

    align-items: flex-start;
    -webkit-box-align:start;
    -ms-box-align: start;

    flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    z-index: 10;
    position: relative;
    min-height: 322px;
}
.de-content div,
.de-content hr,
.de-cursus-content div,
.de-cursus-content hr {
	width:100%;
}
.de-cursus-content {
	padding: 25px 0 0 0;
}
.de-content .bottom-content {
	padding: 25px 0 0 0;
    display: flex;
    display:-webkit-box;
    display:-ms-flexbox;

    align-items: center;
    -webkit-box-align:center;
    -ms-box-align: center;

    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}
.btn-module {
	border-radius: 20px;
	margin-right: 15px;
}
.btn-module-inverse {
	background-color: transparent;
}

.module-header-image-holder {
	max-width: 300px;
	max-height: 300px;
	display: block;
	overflow: hidden;
	margin:0 auto;
	border-radius: 100%;
	border-size: 1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
	visibility: hidden;
}
.later-bekijken-header-image-holder {
	/*visibility: hidden;*/
	max-width: 350px;
	max-height: 350px;
	display: block;
	overflow:hidden;
	margin:0 auto;
	float:none;
}
.later-bekijken-header-image-holder i.fa {
    font-size: 24em;
    color: white;
}
img.module-header-image {
	width: 100%;
}
span.social-icon {
    margin: 0 0 0 5px;
    font-size: 25px;
    vertical-align: middle;
}
span.social-icon a i {
	transform: scale(1);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
span.social-icon:hover a i {
	transform: scale(1.1);
}


@-webkit-keyframes rollIn{
	from{
		opacity:0;
		-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
		transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
	}
	to{
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
}
@keyframes rollIn{
	from{
		opacity:0;
		-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
		transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
	}
	to{
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
}
.rollIn{
	-webkit-animation-name:rollIn;
	animation-name:rollIn;
	animation-duration: 1.5s;
	animation-delay: 0.9s;
}

@-webkit-keyframes rollInbeatInOut{
	0%{
		opacity:0;
		-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
		transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
	}
	90%{
		opacity:50%;
		-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,60deg);
		transform:translate3d(100%,0,0) rotate3d(0,0,1,60deg);
	}
	91%{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);	
	}
}
@keyframes rollInbeatInOut{
	0%{
		opacity:0;
		-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
		transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
	}
	80%{
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
	85%{
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	90%{
		-webkit-transform: scale(1);
		transform: scale(1);	
	}
	95%{
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);	
	}
}
.rollInbeatInOut{
	-webkit-animation-name:rollInbeatInOut;
	animation-name:rollInbeatInOut;
	animation-duration: 2.5s;
	animation-delay: 0.9s;
}

@-webkit-keyframes popIn{
	from{
		opacity: 0;
	    -webkit-transform: scale(0.2);
	    -moz-transform: scale(0.2);
	    transform: scale(0.2);
	    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
	    transition: transform 0.5s, opacity 0.5s;
	}
	to{
		opacity: 1;
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
	    transition: transform 0.5s, opacity 0.5s;
	}
}
@keyframes popIn{
	from{
		opacity: 0;
	    -webkit-transform: scale(0.2);
	    -moz-transform: scale(0.2);
	    transform: scale(0.2);
	    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
	    transition: transform 0.5s, opacity 0.5s;
	}
	to{
		opacity: 1;
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
	    transition: transform 0.5s, opacity 0.5s;
	}
}
.popIn {
    -webkit-animation-name:popIn;
	animation-name:popIn;
	animation-duration: 1.2s;
	animation-delay: 0.9s;
}